<main>
	<div style="min-height: 95vh; display: flex; width: 100%">
	<div id="left" style="height: 100%; flex: 1">
		<app-sidenav myOption="administrar"></app-sidenav>
	</div>

	<div id="right" class="row" style="flex: 5">
		<div class="container">
			<div class="col-md-12">
				<h3 class="flow-text" style="margin:20px">Lista de Alumnos Jorge Robledo</h3>
			</div>
			<div class="col-md-12">
				<div class="row">
				<table class="table table-striped table-sm">
					<thead class="blue-grey lighten-4">
						<tr>
							<th>ID</th>
							<th>Nombre Completo</th>
							<th>Grupo</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let alumno of alumnos">
							<td>{{alumno.id}}</td>
							<td>{{alumno.nombreCompleto}}</td>
							<td>{{alumno.grupo}}</td>
						</tr>
					</tbody>
				</table>

				</div>

			</div>

		</div>
	</div>	
	</div>
	
</main>
