<app-toolbar></app-toolbar>
<app-tab-bar></app-tab-bar>
<main>
  <div style="min-height: 95vh; display: flex; width: 100%">
  <div id="left" style="transition: 0.5s; position:fixed; top:96px; left:0; width:19%; height: 100%">
    <app-sidenav myOption="algo"></app-sidenav>
  </div>

  <div id="right" style="overflow:auto; top:96px; transition: margin-left .5s; position: absolute; margin-left: 19%; width:81%; height:100%">
    <div class="grid-container" style="margin-left:10px">
  <div class="card" >
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Card title</h4>
      <!--Text-->


        <div style="display: block; ">
            <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Card title</h4>
      <!--Text-->


      <div style="display: block">
  <canvas mdbChart
      [chartType]="chartType2"
      [data]="chartData2"
      [labels]="chartLabels2"
      [colors]="chartColors2"
      [options]="chartOptions2"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
      >
  </canvas>
</div>

    </div>
  </div>
  <div>

  </div>
  <div>

  </div>
</div>
  </div>
  </div>

</main>
