
<main>
<!--Grid row-->
<div class="row m-0">
    <!--Grid column-->
    <div class="col-md-6 offset-md-3 mt-5">
        <!--Card-->
        <div class="card testimonial-card">
            <!--Bacground color-->
            <div class="card-up aqua-gradient">
            </div>
            <!--Avatar-->
            <div class="avatar mx-auto"><img src="assets/teacher.png" class="rounded-circle img-responsive">
            </div>
            <div class="card-body">
              <h4 class="card-title">Formulario de ingreso</h4>
              <hr>
              <div class="row m-0">
                <!--Quotation-->
                <form class="col-md-12" [formGroup]="loginForm">
                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text" aria-hidden="true"></i>
                    <input type="text" formControlName="iptUser" id="iptUser" class="form-control" mdbInputDirective>
                    <label for="iptUser">Documento de identidad</label>
                  </div>

                  <div class="md-form mt-5">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" formControlName="iptPwd" id="iptPwd" class="form-control" mdbInputDirective>
                    <label for="iptPwd">Contraseña</label>
                  </div>

                  <div class="text-center mt-5">
                    <input type="submit" class="btn btn-default waves-light" mdbWavesEffect value="Ingresar">
                  </div>
                </form>
              </div>
            </div>
        </div>
        <!--/.Card-->
    </div>
    <!--Grid column-->
</div>
<!--Grid row-->
</main>
