<app-toolbar></app-toolbar>

<main>
  <div style="min-height: 100vh;position:relative">
    <div id="left" style="transition: 0.5s; position:fixed; top:96px; left:0; width:19%; height: 100%">
      <app-sidenav myOption="algo"></app-sidenav>
    </div>

    <div id="right" style="overflow:auto; top:96px; transition: margin-left .5s; position: absolute; margin-left: 19%; width:81%; height:100%">
      <div class="row" style="margin:20px">
        <div class="col-md-12" style="padding: 0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Número de veces que repite el pelado ese</h5>
              <div class="row" style="justify-content: center;">
                <form class="col-md-12">
                  <div class="row">
                    <mdb-date-picker [(ngModel)]="initialDate" class="col-md-2 offset-md-1" name="fechaInicio" [placeholder]="'Fecha de inicio'"
                      required></mdb-date-picker>
                    <div class="col-md-3" style="padding-top:22px">
                      <mdb-select *ngIf="categoryOptions.length>0" name="idCategories" [(ngModel)]="idCategories"
                        [options]="categoryOptions" [multiple]="true" placeholder="Escoge las categorias" required></mdb-select>
                      <label>Escoge las categorias</label>
                    </div>
                    <!-- <mdb-select class="col-md-3 offset-md-1" [options]="optionsSelect"  placeholder="Escoge el grupo" required></mdb-select>-->
                    <div class="col-md-4" style="padding-top:22px">
                      <mdb-select *ngIf="studentOptions.length > 0" name="idStudent" [(ngModel)]="idStudent" [options]="studentOptions"
                        placeholder="Escoge el estudiante" required></mdb-select>
                      <label>Escoge el estudiante</label>
                    </div>
                    <mdb-date-picker [(ngModel)]="endDate" class="col-md-2 offset-md-1" name="fechaFin" [placeholder]="'Fecha final'"
                      required></mdb-date-picker>
                    <div class="col-md-3" style="padding-top:22px">
                      <button type="submit" class="btn btn-primary waves-light" (click)="mostarGrafico(1)"
                        mdbWavesEffect>Mostrar</button>
                    </div>
                  </div>
                </form>
              </div>

              <hr />
              <div class="row" *ngIf="enabledBarChart">
                <div class="col-md-6" >
                  <h5 class="card-title text-center">Número de repeticiones</h5>
                  <div style="display: block;">
                    <canvas mdbChart width="400" height="400" [chartType]="barType" [datasets]="barDatasets" [labels]="barLabels" [options]="chartOptions"
                    [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>