<app-toolbar></app-toolbar>
<app-tab-bar></app-tab-bar>
<main>
	<a class="float" (click)="form.show(); actionText='Agregar Sabías que'; btnText='Agregar'" mdbRippleRadius>
  <span class="tooltiptext">Agregar nuevo</span>
  <i class="fa fa-plus my-float" style="color:#fff"></i>
</a>
	<div style="min-height: 100vh;position:relative">
	<div id="left" style="transition: 0.5s; position:fixed; top:96px; left:0; width:19%; height: 100%">
		<app-sidenav myOption="configuracion"></app-sidenav>
	</div>

	<div id="right" style="overflow:auto; transition: margin-left .5s; top:96px; position: absolute; margin-left: 19%; width:81%; height:100%">
		<div class="row z-depth-1-half" style="margin: 30px; background-color: white">
			<table class="table table-sm table-striped text-center" style="margin-bottom: 0">

			    <!--Table head-->
			    <thead class="light-blue darken-4">
			        <tr class="text-white">
			            <th>Id</th>
			            <th>Descripción</th>
			            <th>Editar</th>
			            <th>Borrar</th>
			        </tr>
			    </thead>
			    <!--Table head-->

			    <!--Table body-->
			    <tbody>
			        <tr *ngFor="let item of arraySabias">
			            <th scope="row">{{item.id}}</th>
			            <td>{{item.descripcion}}</td>
			            <td><i class="fa fa-edit" aria-hidden="true" style="cursor: pointer;" (click)="form.show(); setDescripcion(item)"></i></td>
			            <td><i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;" (click)="borrarSabiasQue(item)"></i></td>
			        </tr>

			    </tbody>
			    <!--Table body-->
			</table>
			<!--Table-->

		</div>
	</div>
	</div>

</main>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> {{actionText}}</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="md-form form-sm">
                    <i class="fa fa-pencil prefix"></i>
                    <!--<input mdbActive type="text" id="form20" [(ngModel)]="txtDescripcion" [value]="txtDescripcion" class="form-control">-->
                    <textarea mdbActive type="text" id="form8" name="form8" [(ngModel)]="txtDescripcion" [value]="btnText=='Agregar' ? '' : txtDescripcion"  class="md-textarea mb-0"></textarea>
                    <label for="form8">Descripción</label>
                </div>

                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-2 waves-light" (click)="updateText()" mdbRippleRadius>{{btnText}} <i class="fa fa-send ml-1"></i></button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
