<app-toolbar></app-toolbar>
<app-tab-bar></app-tab-bar>
<main>
  <div style="min-height: 95vh; display: flex; width: 100%">
    <div id="left" style="height: 100%; flex: 1">
      <app-sidenav myOption="algo"></app-sidenav>
    </div>

    <div id="right" style="flex: 5">
      <div class="row" style="margin:20px">
        <div class="col-md-12" style="padding: 0">
          <div class="card" >
            <div class="card-body">

              <h5 class="card-title text-center">Numero de fallos y aciertos de un estudiante</h5>

              <div class="row" style="justify-content: center;">
                <form class="form-inline">
                  <label>Fecha Inicio:</label>
                  <div  style="margin-left: 10px" class="md-form form-group">
                    <input type="date" [(ngModel)]="fechaInicio" class="form-control" name="fechaInicio">
                  </div>
                  <label>Fecha Fin:</label>
                  <div  style="margin-left: 10px" class="md-form form-group">
                    <input type="date" [(ngModel)]="fechaFin" class="form-control" name="fechaFin">
                  </div>
                  <div class="md-form form-group">
                    <select class="browser-default form-control" name="alumnoSeleccionado" [(ngModel)]="alumnoSeleccionado" (change)="recargarEstadistica()">
                      <option value="" disabled selected>Escoja un estudiante</option>
                      <option *ngFor="let option of alumnos" [ngValue]="option.id">{{option.nombre_completo}}</option>
                    </select>
                  </div>

                </form>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-6" *ngIf="habilitarBarChart">
                  <h5 class="card-title text-center"># Aciertos:</h5>
                  <div style="display: block; ">
                    <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </div>
              <div class="col-md-6" *ngIf="habilitarBarChart">
                <h5 class="card-title text-center"># Fallos:</h5>
                <div style="display: block; ">
                  <canvas mdbChart
                  [chartType]="chartType"
                  [datasets]="chartDatasets2"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
  </div>
  <div class="row" style="margin:20px">
        <div class="col-md-12" style="padding: 0">
          <div class="card" >
            <div class="card-body">

              <h5 class="card-title text-center">Número de sesiones abiertas por día</h5>

              <div class="row" style="justify-content: center;">
                <form class="form-inline">
                  <label>Fecha Inicio:</label>
                  <div  style="margin-left: 10px" class="md-form form-group">
                    <input type="date" [(ngModel)]="fechaInicio" class="form-control" name="fechaInicio">
                  </div>
                  <label>Fecha Fin:</label>
                  <div  style="margin-left: 10px" class="md-form form-group">
                    <input type="date" [(ngModel)]="fechaFin" class="form-control" name="fechaFin">
                  </div>
                  <div class="md-form form-group">
                    <select class="browser-default form-control" name="alumnoSeleccionado" [(ngModel)]="alumnoSeleccionado" (change)="recargarEstadistica()">
                      <option value="" disabled selected>Escoja un estudiante</option>
                      <option *ngFor="let option of alumnos" [ngValue]="option.id">{{option.nombre_completo}}</option>
                    </select>
                  </div>

                </form>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-6" *ngIf="habilitarBarChart">
                  <h5 class="card-title text-center"># Aciertos:</h5>
                  <div style="display: block; ">
                    <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </div>
              <div class="col-md-6" *ngIf="habilitarBarChart">
                <h5 class="card-title text-center"># Fallos:</h5>
                <div style="display: block; ">
                  <canvas mdbChart
                  [chartType]="chartType"
                  [datasets]="chartDatasets2"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
  </div>
  <div class="row" style="margin:20px">
        <div class="col-md-12" style="padding: 0">
          <div class="card" >
            <div class="card-body">

              <h5 class="card-title text-center">Porcentaje y número de estudiantes en cada nivel (Datos por un rango de fechas)</h5>

              <div class="row" style="justify-content: center;">
                <form class="form-inline">
                  <label>Fecha Inicio:</label>
                  <div  style="margin-left: 10px" class="md-form form-group">
                    <input type="date" [(ngModel)]="fechaInicioTorta" class="form-control" name="fechaInicioTorta">
                  </div>
                  <label>Fecha Fin:</label>
                  <div  style="margin-left: 10px" class="md-form form-group">
                    <input type="date" [(ngModel)]="fechaFinTorta" class="form-control" name="fechaFinTorta">
                  </div>
                  <div class="md-form form-group">
                    <select class="browser-default form-control" name="grupoSeleccionado" [(ngModel)]="grupoSeleccionado" (change)="recargarEstadisticaTorta()">
                      <option value="" disabled selected>Escoja un grupo</option>
                      <option *ngFor="let option of grupos" [ngValue]="option.id">{{option.id}}</option>
                    </select>
                  </div>

                </form>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-6" *ngIf="habilitarTorta">
                  <h5 class="card-title text-center">Suma:</h5>
                  <canvas mdbChart
                    [chartType]="chartType2"
                    [data]="chartDataSuma"
                    [labels]="chartLabels"
                    [colors]="chartColors2"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
                 <div class="col-md-6" *ngIf="habilitarTorta">
                  <h5 class="card-title text-center">Resta:</h5>
                  <canvas mdbChart
                    [chartType]="chartType2"
                    [data]="chartDataResta"
                    [labels]="chartLabels"
                    [colors]="chartColors2"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </div>

        </div>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
  </div>

</div>
</div>

</main>
